@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
$amarelo-claro: #f8e07d;
$amarelo-medio: #ffbd59;
$laranja: #ff914d;

$h1-mobile: 1.3em;
$h1-tablet: 1.5em;
$h1-desktop: 1.8em;

$h2-mobile: 1.1em;
$h2-tablet: 1.3em;
$h2-desktop: 1.6em;

$p-mobile: 1em;
$p-tablet: 1.1em;
$p-desktop: 1.2em;

$margin-y: 2em;
$margin-x: 1.5em;


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.books_header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: $margin-x;

    #logo {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        gap: 5px;
    }

    #img-logo {
        display: flex;
        flex-direction: row;
        width: 10%;
    }
    
    .menu {
        color: black;
        text-decoration: none;
    }
}
