@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

.books_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.5em; }
  .books_header #logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    gap: 5px; }
  .books_header #img-logo {
    display: flex;
    flex-direction: row;
    width: 10%; }
  .books_header .menu {
    color: black;
    text-decoration: none; }
